:root {
  --brand-color1: #212121;
  --brand-color2: #FFFFFF;
  --brand-color3: #757575;
  --brand-color4: #2196F3;
  --brand-color5: #EEEEEE;
  --brand-color6: #000000;
  --brand-color7: #F5F4FA;
  --brand-color8: #FFFFFF99;
  --brand-color9: #2F303A;
  --brand-color10: #ECECEC;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --brand-color1: #212121;
  --brand-color2: #FFFFFF;
  --brand-color3: #757575;
  --brand-color4: #2196F3;
  --brand-color5: #EEEEEE;
  --brand-color6: #000000;
  --brand-color7: #F5F4FA;
  --brand-color8: #FFFFFF99;
  --brand-color9: #2F303A;
  --brand-color10: #ECECEC;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.sec {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #188CE8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  color: white;
  background-color: #188CE8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border: 1px solid #ECECEC;
}

.contacts {
  display: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  display: block;
  align-items: center;
  padding: 34, 0;
}

.nav__logo {
  text-decoration: none;
  margin-right: 93px;
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.nav__logo--last-part {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4215384615;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.footer__address {
  margin-top: 20px;
}

.nav__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
  opacity: 0;
}
.nav__link__link.current::after, .nav__link__link:hover {
  opacity: 1;
}
.nav__link__link:hover {
  color: #2196F3;
}

.url-gruop {
  margin-left: 340px;
}

@media screen and (min-width: 768) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

.contacts__tel {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__mailto {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__mailto {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__mailto:hover {
  color: #2196F3;
}

.contacts__tel:hover {
  color: #2196F3;
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icons:hover {
  fill: #2196F3;
  color: #2196F3;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__item {
  position: relative;
}

.current {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img\ 17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .hero {
    background-size: 480px, 715px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/headerimg.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet\ header.jpg);
  }
}

.hero__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}

.hero__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn__btn:hover {
  background-color: #188CE8;
}

.feature__list {
  text-decoration: none;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
    text-decoration: none;
    list-style: none;
  }
}
@media screen and (min-width: 480px) {
  .feature__list {
    display: flex;
    padding-left: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: 50%;
    gap: 30px;
  }
}

.feature__item {
  max-width: 100%;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .feature__name {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  align-items: center;
  border-radius: 4px;
}

.feature__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature_container {
  display: flex;
  flex-wrap: wrap;
  -webkit-columns: 2;
  columns: auto 2;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.about {
  padding-top: 0px;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
}

.about__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about__img {
  position: relative;
}

.about__text {
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16\14 ;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background: #F5F4FA;
  padding-inline-start: 94px 0;
}
@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1198px) {
  .team__container {
    -webkit-columns: 2;
    columns: auto 2;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
}
.team__list {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .team__list {
    display: block;
    align-items: center;
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    -webkit-columns: 2;
    columns: auto 2;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--brand-color2);
}
.team__item__item:last-child {
  margin-right: 0px;
}
@media screen and (min-width: 480px) {
  .team__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
  }
}

.team__img {
  width: 100%;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__about {
  padding: 30px 0;
}

.team__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team__social-iteam {
  width: 44px;
  height: 44px;
}

.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  fill: #AFB1B8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link__social-link:hover {
  fill: white;
  background-color: #2196F3;
}

.clients__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients__list {
    -webkit-columns: 2;
    columns: auto 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    padding-left: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 765) {
  .clients-list__div {
    display: flex;
    -webkit-columns: 2;
    columns: auto 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    padding-left: 25px;
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover {
  color: #2196F3;
}

.client__iteam:not(:last-child) {
  margin-right: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .client__iteam:not(:last-child) {
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
}

.client__iteam:hover {
  color: #188CE8;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__in {
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__contant {
    display: block;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contant {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__list {
    display: wrap;
    justify-content: center;
    align-items: center;
  }
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .footer__in {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__in {
    display: flex;
    align-items: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link:hover {
  color: #2196F3;
}

.address:hover {
  color: #2196F3;
}

.address:hover {
  color: #2196F3;
}

.footer__logo--lastpart-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address__map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__join {
  margin-left: 70px;
  align-items: center;
}
@media screen and (min-width: 480px) and (max-width: 766px) {
  .footer__join {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__join {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__join {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing__input {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    display: flex;
    align-items: center;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 70px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .join__title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join__title {
    margin-left: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .join__title {
    display: flex;
    align-items: center;
  }
}

.footer__contant {
  display: flex;
  align-items: center;
}

.join__list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link__link:hover {
  background-color: #188CE8;
}

.joinus {
  display: flex;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__address {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .address__list {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .address__link {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .join__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mailing__form {
  margin-left: auto;
  display: flex;
  align-items: end;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .mailing__form {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__form {
    display: flex;
    align-items: center;
  }
}

.mailing__label {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .mailing__label {
    display: flex;
    align-items: center;
  }
}

.mailing__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 16\14 ;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .mailing__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__text {
    display: flex;
    align-items: center;
  }
}

.mailing__input {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing__input__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 20\16 ;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .mailing__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    display: flex;
    align-items: center;
  }
}

.mailing__btn {
  display: flex;
  margin-left: 12px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.875;
  color: #FFFFFF;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .mailing__btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__btn {
    display: flex;
    align-items: center;
  }
}

.mailing__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 480) and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button__button:hover {
  fill: #2196F3;
}

.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__area {
  padding-bottom: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field label:focus-within .input,
.form__field label:hover > .input {
  border: 1px solid #2196F3;
}

.form__field label {
  position: relative;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.form__input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  position: relative;
}
.form__field__input:active,
.form__field :hover,
.form__field :focus {
  outline: 0;
  outline-offset: 0;
}
.form__field__icon:hover {
  fill: #2196F3;
}
.form__field__input:hover {
  fill: #2196F3;
  border-color: #2196F3;
}
.form__field__input:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.form__field:focus-within > .form__icon {
  fill: #2196F3;
  border-color: #2196F3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  padding: 16px 15px;
  height: 120px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__coment__coment:hover {
  border-color: #2196F3;
}
.form__coment__coment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.option {
  display: block;
  margin-bottom: 0.5em;
}

.form__check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  margin-top: 0.2em;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #212121;
}

/* Checked */
.check__input:checked + .check__box {
  width: 16px;
  height: 15px;
  background-color: #2196F3;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

/* Focused */
.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #2196F3;
}

/* Disabled */
.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #2196F3;
}

.check__input:checked:disabled + .check__box {
  background-color: #2196F3;
}

.check-text {
  margin-left: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 24\14 ;
  color: #757575;
}

.conditions {
  color: #2196F3;
  margin-left: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 24\14 ;
}

.modal-btn {
  cursor: pointer;
  display: block;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button--list {
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .portfolio__button--list {
    display: flex;
    flex: wrap;
    row-gap: 50px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__button--list {
    justify-content: center;
  }
}

.all {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
}

.webs {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.apps {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.design {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.market {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.portfolio__button {
  border: none;
}

.prj-img-text {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item {
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item__item:hover, .portfolio__item__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-list__div {
    -webkit-columns: 2;
    columns: auto 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

.portfolio__button--list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .portfolio__list {
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    -webkit-columns: 2;
    columns: auto 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

.portfolio__item {
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item__item:hover, .portfolio__item__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    max-width: 354px;
  }
}

.portfolio__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link__link:hover .overlay__text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  transform: translateY(0);
}
.portfolio__link__link:focus .overlay__text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  transform: translateY(0);
}

.portfolio__about {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.portfolio__img--text {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__img--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__img--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio__item {
    position: relative;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__item__item:hover, .portfolio__item__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__link__link:hover .overlay__text {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    transform: translateY(0);
  }
  .portfolio__link__link:focus .overlay__text {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    transform: translateY(0);
  }
  .portfolio__about {
    position: relative;
    overflow: hidden;
  }
  .overlay__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    padding-left: 24px;
    padding-right: 24px;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
  .portfolio__img--text {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
  }
  .portfolio__img--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
  }
  .portfolio__img--name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu__item {
  display: flex;
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 35px;
}

.mbile-menu__list {
  padding-top: 28px;
  padding-left: 20px;
  padding-bottom: 150px;
}

.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
}

.mobile-menu__mailto {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  /* identical to box height */
  font-size: 34px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__tel {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  font-size: 24px;
  color: #757575;
  letter-spacing: 0.02em;
}

.mobile-menu__links {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu__socials-list {
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-menu__links::after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 0px;
  top: 9px;
  left: -20px;
  border: 1px solid #757575;
  background-color: #757575;
  transform: rotate(90deg);
}/*# sourceMappingURL=main.css.map */