

.clients__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121
    }
    
}

.clients__list {
   

    @media screen and (min-width: 320px) and (max-width: 1199px) {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    }

   @media screen and (min-width: 1200px) { 
        display: flex;
        align-items: center;
        justify-content: center;
   }
    
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
        }
}

.clients-list__div {
    @media screen and (min-width: 320px) and (max-width: 765) {
            display: flex;
            -webkit-columns: 2;
            columns: auto 2;
            -webkit-column-gap: 130px;
            column-gap: 130px;
            padding-left: 80px;
        }

}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid currentColor;
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover {
    color: #2196F3;
}

.client__iteam:not(:last-child)
 {
   

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


@media screen and (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
   
}

 .client__iteam:hover {
     color: #188CE8;
 }

.clients__icon {
    fill: currentColor;
}
