.header {
    border: 1px solid #ECECEC;

}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav {
    display: flex;
    align-items: center;
}




.nav__list {
    display: block;
    align-items: center;
    padding: 34, 0;
}


.nav__logo {
    text-decoration: none;
    margin-right: 93px;

}

.nav__logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #2196F3;
}

.nav__logo--last-part {

    font-weight: 400;
    font-size: 26px;
    line-height: calc(36.96/26);
    letter-spacing: 0.03em;
    color: #000000;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.footer__address {
    margin-top: 20px;
}



.nav__list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #212121;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #212121;
    padding: 32px 0;
    display: block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &__link::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #2196F3;
            border-radius: 4px;
            opacity: 0;
        }
    
        &__link.current::after,
        &__link:hover {
            opacity: 1;
        }

        &__link:hover {
            color: #2196F3;
        }
}

.url-gruop {
    margin-left: 340px;
}


.contacts__tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts__mailto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    margin-right: 50px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mailto:hover {
    color: #2196F3;
}

.contacts__tel:hover {
    color: #2196F3;
}

.contacts__icons {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__icons:hover {
    fill: #2196F3;
    color: #2196F3;
}



.header__container {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__item {
    position: relative;
}


.current {
    color: #2196F3;
}