.mailing__form {
    margin-left: auto;
    display: flex;
    align-items: end;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: block;
    justify-content: center;
    align-items: center;
    
  }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: end;
    
        }

         @media screen and (min-width: 768px) and (max-width: 1199px) {
             margin-top: 60px;
        }

}

.mailing__label {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
    
        }

}



.mailing__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: calc(16\14);
    text-transform: uppercase;

    color: #FFFFFF;

    @media screen and (min-width: 320px) and (max-width: 767px)  {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
       
    }
          @media screen and (min-width: 1200px) {
              display: flex;
              align-items: center;
    
          }


        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: auto;
            margin-right: auto;
            
        }

}


.mailing__input {
    display: block;
    margin: 0 auto;
    width: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 15px 0 15px 16px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;


    &__input::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
    
    
            display: flex;
            align-items: center;
            letter-spacing: calc(20\16);
    
            color: rgba(255, 255, 255, 0.6);
        }

    @media screen and (max-width: 479px) {
      width: 100%;       
    }
          @media screen and (min-width: 1200px) {
              display: flex;
              align-items: center;
    
          }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
                    max-width: 450px;
                    margin-left: auto;
                    margin-right: auto;
        
                }
}



.mailing__btn {
    display: flex;
    margin-left: 12px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: calc(30/16);
    color: #FFFFFF;
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
                  @media screen and (min-width: 1200px) {
                      display: flex;
                      align-items: center;
        
                  }

}

.mailing__icon {
    margin-left: 10px;
}