.team {
    background: #F5F4FA;
    padding-inline-start: 94px 0;
}

.team__list {
    display: flex;
    align-items: center;
}

.team__item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--brand-color2);

    &__item:last-child {
            margin-right: 0px;
        }
}


.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.team__job {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.team__about {
    padding: 30px 0;
}

.team__social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}

.team__social-iteam {
    width: 44px;
    height: 44px;
}

.team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    fill: #AFB1B8;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__social-link:hover {
            fill: #ffff;
            background-color: #2196F3;
        }
}
