:root {
    --brand-color1: #212121;
    --brand-color2: #FFFFFF;
    --brand-color3: #757575;
    --brand-color4: #2196F3;
    --brand-color5: #EEEEEE;
    --brand-color6: #000000;
    --brand-color7: #F5F4FA;
    --brand-color8: #FFFFFF99;
    --brand-color9: #2F303A;
    --brand-color10: #ECECEC;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.03em;
}